/* 
    Document   : contact
    Created on : 18/04/2012, 03:09:15 PM
    Author     : usurio
    Description:
        Purpose of the stylesheet follows.
*/

#main-container{
    background: url('/images/main_background.png') repeat-y;
}
.contact-form-container {
    width: 922px;
    margin: -14px 0px 14px 14px;
    float: left;
    background: #FFFFFF;
    /* -- CSS3 Shadow - create a shadow around each input element -- */ 
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;
    
    /* -- CSS3 - Rounded Corners -- */
    -webkit-border-bottom-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px; 
    -moz-border-radius-bottomright: 30px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.contact-form-container-inner{
    font-family: HelveticaRegular;
    text-align: center;
    width: 882px;
    float: left;
    margin: 20px;
    padding-bottom: 20px;
    background: url(/images/contact_affiliate_form.png) no-repeat;
    background-color: #E6E6E7;
    background-position: 114px 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px; 
    border-radius: 15px;
}

.contact-form-container-inner-title, .contact-form-container-inner-form {
    float: left;
}

.contact-form-container-inner-title {
    margin-top: 80px;
    margin-bottom: 15px;
    width: 882px;
}

.contact-form-container-inner-title h2 {
    font-weight: bold;
    font-size: 2.5em;
    margin: 0px;
    text-shadow: 0 2px 2px #CCCCCC;
    color: #18B9E8;
}

.contact-form-container-inner-form {
    margin: 148px 0px 0px 217px;
}

.contact-form-container-inner-form .frame {
    background-color: #FFFFFF;
    width: 200px;
    padding: 5px;
    margin: 20px 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

.contact-form-submit-container {
    text-align: center;
    width: 210px;
    margin: 15px 50px 0px 50px;
}

.contact-form-container-inner-form form#contact-form, form#contact-form input, form#contact-form select {
    color: #7F7F80;
}

form#contact-form input, form#contact-form select {
    border: none;
    padding: 4px;
    background: #E6E6E7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    border-radius: 3px;
}

form#contact-form input{
    width: 180px;
}

form#contact-form {
    padding: 5px;
    margin-left: 65px;
    margin-top: 20px;
}

form#contact-form label {
    font-size: 1.1em;
    font-weight: normal;
}

form#contact-form .contact-form-submit-container input.submit { 	
    width: 120px;
    color: #FFFFFF; 
    text-transform: uppercase;
    background-color: #18B9E8;
    -webkit-transition: -webkit-box-shadow 0.3s linear;
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px; 
    border-radius: 15px;
}

form#contact-form .contact-form-submit-container input.submit:hover { 		
    -webkit-box-shadow: 0px 0px 10px #555;
    -moz-box-shadow: 0px 0px 10px #aaa; 
    box-shadow: 0px 0px 10px #555;		
    cursor:  pointer; 
}

form#contact-form .form_row {
    text-align: left;
    margin: 5px;
}

form#contact-form select#contact_phone_code{
    width: 66px;
}

form#contact-form input#contact_phone_number{
    width: 110px;
}

#link-biz{
    cursor: pointer;
    height: 12px;
    left: 426px;
    position: relative;
    top: 539px;
    width: 49px;
}
