/* 
    Document   : sfGuardAuth
    Created on : 16/04/2012, 01:20:36 PM
    Author     : jacobo
    Description:
        Purpose of the stylesheet follows.
*/

#auth-error-container{background: url('/images/error_face.png') no-repeat #E5E6E7; padding-top: 85px; background-position: center 20px}
#auth-error-title{margin-bottom: 20px }
.auth-content{text-align: center; margin: 0px 120px; font-size: 1.3em}